.photo_div{
    float: left;
    width: calc(65% - 90px);
    margin-left: 30px;
}

.banner_div{
    float: left;
    width: calc(65% - 90px);
    margin-left: 30px;
}

.updates_div{
    margin-top: 120px;
    max-width: 640px;
    float: left;
    width: 35%;
    margin-left: 35px;
}

#contacts_div{
    float: left;
    width: 35%;
    margin-left: 30px;
}

#follow_div{
    float: right;
    width: 35%;
    margin-right: 30px;
}

#profilo{
    width: 100%;
    max-width: 250px;
    padding: 10px;
    text-align: center;
    float: left;
}

.banner{
    width: 100%;
    height: 100%;
}

.news_div{
    float: left;
    width: calc(65% - 90px);
    margin-left: 30px;
}

.follow_button{
    width: 40px;
    height: 40px;
    float: left;
    padding: 10px 15px;
    background-color: rgba(50,50,50,0.1);
}