body{
    background-image: url('../images/sfondo.png');
    background-color: #cccccc;
    background-repeat: repeat;
    margin: 5px 0 0 0;
}

#main_div{
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
}

#menu_div{
    width: 100%;
    background-color: #505050;
    position: fixed;
    max-width: 1024px;
    z-index: 10;
    border-bottom-color: #900000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#menu_div ul{
  margin: 0px -53px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#menu_div ul li{
    display: inline;
    font-family: gill-sans;
    font-size: 22px;
    color: #eeeecc;
    margin-left: 20px;
    cursor: pointer;
}

#menu_div ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px 2%;
    margin: 5px 0px 5px 0px;
}

#menu_div ul li a:hover{
    background-color: rgba(221,221,221,0.1);
    color: #900000;
}

.page_div{
    background-color: rgba(245, 245, 245, 0.8);
    width: 100%;
    max-width: 1024px;
    position: absolute;
    padding-bottom: 50px;
    padding-top: 70px;
}

#page_pubblication{
    display: none;
}

#page_projects{
    display: none;
}

#page_research_interest{
    display: none;
}

#page_awards{
    display: none;
}

#page_professional_services{
    display: none;
}

.title{
    font-family: gill-sans;
    font-size: 35px;
    color: #900000;
}

.subtitle{
    font-family: gill-sans;
    font-size: 25px;
    color: #900000;
}

.text{
    font-family: gill-sans;
    font-size: 19px;
    background-color: rgba(50,50,50,0.1);
    padding: 10px;
    text-align: justify;
    margin: 0px;
}

.subtext{
    font-family: gill-sans;
    font-size: 17px;
    background-color: rgba(50,50,50,0.1);
    padding: 10px;
    margin: 0px;
}

.note{
    font-family: gill-sans;
    font-size: 14px;
    background-color: rgba(50,50,50,0.1);
    padding: 10px;
    text-align: justify;
    margin: 0px;
}

@font-face {
    font-family: gill-sans;
    src: url(ufonts.com_gill-sans-mt-light.ttf);
}

.cite{
    text-align: right;
    font-family: gill-sans;
    margin-right: 20px;
    font-style: italic;
    font-size: 16px;
}





