.publications_div{
    float: left;
    width: calc(100% - 60px);
    margin-left: 30px;
}

.publications_title{
    color: #900000;
}

.link, .link:visited, .link:active, .link:hover {
    text-decoration: none;
    color: #900000;
}


